<html>
    <head>
        <title>Blog Django Leo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Leo</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Post referente a EBAC curso </p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Segundo post referente a EBAC curso</p>
        </div>
    </body>
</html>